@using PagedList.Mvc;
@using PagedList;
@model IPagedList<WebQuanLyThuVien.Models.Sach>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.active = 3;
    WebQuanLyThuVien.Models.QuanLyThuVienEntities db = new WebQuanLyThuVien.Models.QuanLyThuVienEntities();
}

@{
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
}

@*NÚT SEARCH*@
<div class="container-sm pt-5 w-50" style="justify-items:center">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" id="searchInput">
        <button type="button" class="btn btn-secondary" id="searchSach" onclick="TimKiem()"><i class="bi-search"></i></button>
    </div>
</div>

@*LỌC YÊU CẦU*@
@*<form action="~/ThueSach/LocYeuCau" method="post">*@
<div class="container mt-4" style=" padding: 20px; border-radius: 10px; ">
    <div class="row" style="margin-left:200px">
        <div class="col-md-3">
            <div class="form-group">
                <label for="TheLoai" style="font-weight: bold">Thể loại</label>
                <select id="theLoaiSelect" class="form-control">
                    <option value="All">Tất cả</option>
                    <option value="Truyện thiếu nhi">Truyện thiếu nhi</option>
                    <option value="Tiểu thuyết">Tiểu thuyết</option>
                    <option value="Kỹ năng sống">Kỹ năng sống</option>
                    <option value="Ngôn tình">Ngôn tình</option>
                    <option value="Sách giáo khoa">Sách giáo khoa</option>
                    <option value="Sách ngoại ngữ">Sách ngoại ngữ</option>
                    <option value="Truyện ngắn">Truyện ngắn</option>
                    <option value="Văn học">Sách ngoại ngữ</option>
                    <option value="Sách tham khảo">Sách tham khảo</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="NgonNgu" style="font-weight: bold">Ngôn ngữ</label>
                <select id="ngonNguSelect" class="form-control">
                    <option value="All">Tất cả</option>
                    <option value="Tiếng việt">Tiếng Việt</option>
                    <option value="Tiếng anh">Tiếng Anh</option>
                    <option value="Tiếng trung">Tiếng Trung</option>
                    <option value="Tiếng pháp">Tiếng Pháp</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="NamXB" style="font-weight: bold">Năm xuất bản</label>
                <select id="namXBSelect" class="form-control">
                    <option value="All">Tất cả</option>
                    <!-- Script to generate years dynamically -->
                    <script>
                        var currentYear = new Date().getFullYear();
                        for (var i = currentYear; i >= 1940; i--) {
                            document.write('<option value="' + i + '">' + i + '</option>');
                        }
                    </script>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>&nbsp;</label>
                <!-- Empty label for spacing -->

                <button type="submit" class="btn btn-primary btn-block" value="Submit" style=" margin-top: 25px;" onclick="LocSach()">Lọc</button>
            </div>
        </div>
    </div>
</div>
@*</form>*@


<div class="row g-4 pt-5" id="resultContainer">
    @foreach (var item in Model)
    {
        WebQuanLyThuVien.Models.TT_SACH ttSach = db.TT_SACH.Find(item.MaSach);

        // Tạo URL đầy đủ từ đường dẫn tương đối
        string imageUrl = Url.Content(ttSach.URL_IMAGE);

        @*begin*@
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" id="sachMuon_@item.MaSach">
            <div class="classes-item">
                <div class="bg-light rounded-circle w-75 mx-auto p-3">

                    <img class="img-fluid rounded-circle" src="@imageUrl" alt="" style="width: 330px; height: 300px;">
                </div>
                <div class="bg-light rounded p-4 pt-5 mt-n5">
                    <a class="d-block text-center h3 mt-3 mb-4 custom-link" href="#" id="@item.MaSach">@item.TenSach</a>

                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="d-flex align-items-center">

                            <img class="rounded-circle flex-shrink-0" src="~/img_web/avticon.jpg" alt="" style="width: 45px; height: 45px;">
                            <div class="ms-3">
                                <h6 class="text-primary mb-1">@item.TacGia</h6>
                                <small>@item.NgonNgu</small>
                            </div>
                        </div>
                    </div>
                    <div class="row g-1">
                        <div class="col-4">
                            <div class="border-top border-3 border-primary pt-2">
                                <h6 class="text-primary mb-1">Thể loại</h6>
                                <small>@item.TheLoai</small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="border-top border-3 border-success pt-2">
                                <h6 class="text-success mb-1">Năm xuất bản</h6>
                                <small>@item.NamXB</small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="border-top border-3 border-warning pt-2">
                                <h6 class="text-warning mb-1">Số lượng</h6>
                                <small id="soLuongSach_@item.MaSach">@item.SoLuongHIENTAI</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*end*@
    }
</div>

@*Đoạn code hiển thị bảng phân trang*@
<ul class="pagination justify-content-center" style="margin-top: 50px;">

    <li class="page-item @(currentPage == 1 ? "disabled" : "")">
        <a class="page-link" href="@Url.Action("Index", new { page = currentPage - 1 })">
            &laquo; Trang trước
        </a>
    </li>

    @for (int i = 1; i <= totalPages; i++)
    {
        <li class="page-item @(currentPage == i ? "active" : "")">
            <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
        </li>
    }

    <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
        <a class="page-link" href="@Url.Action("Index", new { page = currentPage + 1 })">
            Trang tiếp theo &raquo;
        </a>
    </li>
</ul>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $(".custom-link").click(function (e) {
            e.preventDefault();

            var maSach = $(this).attr("id");
            console.log("Mã sách: ", maSach);

            window.location.href = "/Classes/ThongTinSach/" + maSach;


        });
    });

    ///////////////////////////// Tìm kiếm dựa trên search ////////////////////////////////////
    function TimKiem() {
        console.log("Function TimKiem called");
        // Lấy giá trị từ ô input
        var search = $("#searchInput").val();

        // Gửi yêu cầu AJAX đến action "SearchSach" trên controller "ThueSach"
        $.ajax({
            url: "/ThueSach/SearchSach",
            type: "POST",
            data: { search: search },
            success: function (result) {
                // Xử lý dữ liệu JSON và cập nhật nội dung trang
                console.log("Phản hồi từ server:", result);

                if (result.success) {
                    UpdateView(result.sachList);
                } else {
                    alert(result.message);
                }
            },
            error: function (result) {
                console.log("Lỗi khi gửi yêu cầu AJAX:", result);
            }
        });
    }

    ///////////////////////////// Tìm kiếm dựa trên lọc yêu cầu ////////////////////////////////////

    function LocSach() {
        console.log("Function LocSach called");
        // Lấy giá trị từ ô lọc
        var theLoai = document.getElementById("theLoaiSelect");
        var ngonNgu = document.getElementById("ngonNguSelect");
        var namXB = document.getElementById("namXBSelect");
        console.log("Thể loại chọn:", theLoai.value);
        console.log("Ngôn ngữ chọn:", ngonNgu.value);
        console.log("Năm xuất bản chọn:", namXB.value);

        // Gửi yêu cầu AJAX đến action "LocYeuCau" trên controller "ThueSach"
        $.ajax({
            url: "/ThueSach/LocYeuCau",
            type: "POST",
            data:
            {
                NgonNgu: ngonNgu.value,
                TheLoai: theLoai.value,
                NamXB: namXB.value,
            },
            success: function (result) {
                // Xử lý dữ liệu JSON và cập nhật nội dung trang
                console.log("Phản hồi từ server:", result);
                console.log("PhảsachList:", result.sachList);

                if (result.success) {
                    UpdateView(result.sachList);
                } else {
                    alert(result.message);
                }
            },
            error: function (result) {
                console.log("Lỗi khi gửi yêu cầu AJAX:", result);
            }
        });
    }

    function UpdateView(result) {
        $("#resultContainer").empty();
        console.log("Hàm updateView đang thực hiện");
        console.log("Đầu vào của hàm updateView:", result);

        $.each(result, function (index, item) {
            console.log("Item: ", item);

            // Gọi action GetSachDetails để lấy thông tin chi tiết sách
            $.ajax({
                url: "/Classes/GetSachDetails",
                type: "POST",
                data: { maSach: parseInt(item) },
                success: function (response) {

                    console.log("success GetSachDetails");
                    console.log(response.SachDetails.MaSach);
                    console.log(response.UrlImage);
                    console.log(response.SachDetails.TenSach);

                    response.UrlImage = response.UrlImage.replace('~', '');

                    // Tạo đường dẫn đầy đủ từ đường dẫn tương đối
                    var imageUrl = response.UrlImage;

                    // Chuyển đổi chuỗi HTML thành mã Razor
                    var newHtml = $(`
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" id="sachMuon_${response.SachDetails.MaSach}">
                            <div class="classes-item">
                                <div class="bg-light rounded-circle w-75 mx-auto p-3">

                                    <img class="img-fluid rounded-circle" src="${response.UrlImage}" alt="" style="width: 330px; height: 300px;">
                                </div>
                                <div class="bg-light rounded p-4 pt-5 mt-n5">
                                    <a class="d-block text-center h3 mt-3 mb-4" href="">${response.SachDetails.TenSach}</a>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="d-flex align-items-center">

                                            <img class="rounded-circle flex-shrink-0" src="~/img_web/avticon.jpg" alt="" style="width: 45px; height: 45px;">
                                            <div class="ms-3">
                                                <h6 class="text-primary mb-1">${response.SachDetails.TacGia}</h6>
                                                <small>${response.SachDetails.NgonNgu}</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row g-1">
                                        <div class="col-4">
                                            <div class="border-top border-3 border-primary pt-2">
                                                <h6 class="text-primary mb-1">Thể loại</h6>
                                                <small>${response.SachDetails.TheLoai}</small>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="border-top border-3 border-success pt-2">
                                                <h6 class="text-success mb-1">Năm xuất bản</h6>
                                                <small>${response.SachDetails.NamXB}</small>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="border-top border-3 border-warning pt-2">
                                                <h6 class="text-warning mb-1">Số lượng</h6>
                                                <small id="soLuongSach_${response.SachDetails.MaSach}">${response.SachDetails.SoLuongHIENTAI}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `);

                    $("#resultContainer").append(newHtml);
                },
                error: function (error) {
                    console.log("Lỗi khi gửi yêu cầu AJAX:", error);
                }
            });
        });
    }


</script>