@model List<WebQuanLyThuVien.Models.NhanVien> 

@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<!--<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Advanced Form</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Advanced Form</li>
                </ol>
            </div>
        </div>
    </div>--><!-- /.container-fluid -->
<!--</section>-->

<!-- Hiển thị danh sách NhanViens -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách Nhân viên</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Mã NV</th>
                                    <th>Họ và tên</th>
                                    <th>Giới tính</th>
                                    <th>Địa chỉ</th>
                                    <th>Ngày sinh</th>
                                    <th>Số điện thoại</th>
                                    <th>Chức vụ</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.MaNV</td>
                                        <td>@item.HoTenNV</td>
                                        <td>@item.GioiTinh</td>
                                        <td>@item.DiaChi</td>
                                        <td>@item.NGAYSINH</td>
                                        <td>@item.SDT</td>
                                        <td>@item.ChucVu</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
