@model IEnumerable<WebQuanLyThuVien.Models.Sach>

@{
    ViewBag.Title = "SearchSach";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex w-50 ms-0">
    <a href="~/ThueSach/Index" class="btn btn-primary rounded-pill px-3 d-none d-lg-block"><i class="fa fa-arrow-left ms-3"></i> Quay về</a>
</div>

<div class="row g-4 pt-5">
    @foreach (var item in Model)
    {

        @*begin*@
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="classes-item">
                <div class="bg-light rounded-circle w-75 mx-auto p-3">
                    @{
                        WebQuanLyThuVien.Models.QuanLyThuVienEntities db = new WebQuanLyThuVien.Models.QuanLyThuVienEntities();
                        WebQuanLyThuVien.Models.TT_SACH ttSach = db.TT_SACH.Find(item.MaSach);

                        // Tạo URL đầy đủ từ đường dẫn tương đối
                        string imageUrl = Url.Content(ttSach.URL_IMAGE);
                    }
                    <img class="img-fluid rounded-circle" src="@imageUrl" alt="" style="width: 330px; height: 300px;">
                </div>
                <div class="bg-light rounded p-4 pt-5 mt-n5">
                    <a class="d-block text-center h3 mt-3 mb-4" href="">@item.TenSach</a>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="d-flex align-items-center">

                            <img class="rounded-circle flex-shrink-0" src="" alt="" style="width: 45px; height: 45px;">
                            <div class="ms-3">
                                <h6 class="text-primary mb-1">@item.TacGia</h6>
                                <small>@item.NgonNgu</small>
                            </div>
                        </div>
                        <button class="btn btn-primary" OnCommand="DangKyMuon" CommandArgument="@item.MaSach">Đăng ký</button>
                    </div>
                    <div class="row g-1">
                        <div class="col-4">
                            <div class="border-top border-3 border-primary pt-2">
                                <h6 class="text-primary mb-1">Thể loại</h6>
                                <small>@item.TheLoai</small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="border-top border-3 border-success pt-2">
                                <h6 class="text-success mb-1">Năm xuất bản</h6>
                                <small>@item.NamXB</small>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="border-top border-3 border-warning pt-2">
                                <h6 class="text-warning mb-1">Số lượng</h6>
                                <small>@item.SoLuongHIENTAI</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*end*@
    }
</div>

