@model WebQuanLyThuVien.Models.Sach

@{
    ViewBag.Title = "ThongTinSach";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WebQuanLyThuVien.Models.QuanLyThuVienEntities db = new WebQuanLyThuVien.Models.QuanLyThuVienEntities();


    WebQuanLyThuVien.Models.TT_SACH tt_Sach = db.TT_SACH.Find(Model.MaSach);

    string mota = tt_Sach.MOTA.ToString();
    string imageUrl = Url.Content(tt_Sach.URL_IMAGE);
}

<h1 style="text-align:center; color:orangered">Thông tin sách</h1>

<div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="bg-light rounded">
                <div class="row g-0">
                    <div class="col-6 wow fadeIn" data-wow-delay="0.1s" style="max-width: 400px;">
                        <div class="position-relative h-70" style="margin-left:30px;">
                            <img class="position-absolute w-100 h-70 rounded" src="@imageUrl ">
                            
                        </div>
                    </div>
                    <div class="col-7" style="margin-left:50px">
                        <hr />
                        <dl class="dl-horizontal ">
                            <dd>
                                <h3>
                                    @Html.DisplayFor(model => model.TenSach)
                                </h3>

                            </dd>
                            <dd>
                                 <span style="font-weight:bold">Thể loại:</span>
                                    @Html.DisplayFor(model => model.TheLoai)
                                
                            </dd>
                            <dd>
                                <span style="font-weight:bold">Tác giả:</span>
                                @Html.DisplayFor(model => model.TacGia)
                            </dd>
                            <dd>
                                <span style="font-weight:bold">Ngôn ngữ:</span>
                                @Html.DisplayFor(model => model.NgonNgu)
                            </dd>
                            <dd>
                                <span style="font-weight:bold">Nhà xuất bản:</span>
                                @Html.DisplayFor(model => model.NXB)
                            </dd>
                            <dd>
                                <span style="font-weight:bold">Năm xuất bản:</span>
                                @Html.DisplayFor(model => model.NamXB)
                            </dd>
                            <dd>
                                @Html.DisplayFor(model => mota)
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p>
    <a href="~/ThueSach/Index" class="btn btn-primary rounded-pill px-3 d-none d-lg-block" style="max-width:300px; margin-left:500px">Quay về</a>
    
</p>
